body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #FFFFFF;
    text-align: center;
}


.header .header-menu-list{
    list-style-type: none;
}

:root {
    --accent-color: #4D5AE5;
    --background: #2E2F42;
}
.header .header-logo-link{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.header .header-menu-list .header-menu-item{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header .header-address .header-address-item{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header .header-address .header-address-item{
    list-style-type: none;
}
.header .header-logo-link .header-logo-accent {
    color: var(--accent-color);
}

.first-section {
    background-color: var(--background);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: 0.02em;
    text-align: center;
}
.first-section .button{
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
}
.second-section {
    background-color: #FFFFFF;
    text-align: center;
}
.second-section .company-benefits{
    list-style-type: none;
}
.second-section .company-benefits h{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.second-section .company-benefits p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.third-section {
    background-color: #FFFFFF;
    text-align: center;
}
.third-section h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.third-section .company-activity{
    list-style-type: none;
}
.fourth-section {
    background-color: #F4F4FD;
    text-align: center;

}
.fourth-section h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.fourth-section h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.fourth-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.fourth-section .team-list{
    list-style-type: none;
}
.footer{
    background-color: var(--background);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer .footer-logo-link {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


.footer .footer-logo-link .footer-logo-accent {
    color: var(--accent-color);
}

.section-buttons{
    text-align:center;
}
.section-buttons .button{
    color: var(--accent-color);
    background-color: #E7E9FC;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
}

.section-buttons .button-all{
    color: #FFFFFF;
    background-color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
}

.portfolio-nav {
    text-align: center;
}
.section-buttons h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
.section-buttons p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}




